<h1>Login</h1>

<form action="/login" method = "POST">
    <div>
        <label for="mail">email</label>
        <input type="text" id="mail" name="mail" placeholder="Enter e-mail address" required>
    </div>
    <div>
        <label for="pass">Password</label>
        <input type="password" id="pass" name="pass" placeholder="Enter Password" required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>