<h1>Register</h1>
<form action="/register" method = "POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Name" required>
    </div>
    <div>
        <label for="mail">email</label>
        <input type="text" id="mail" name="mail" placeholder="Enter e-mail address" required>
    </div>
    <div>
        <label for="pass">Password</label>
        <input type="password" id="pass" name="pass" placeholder="Enter Password" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>